
员工档案、客户档案、客户档案、供应商档案、同行档案、产品基本信息、报价订单表、产品报价表、同行报价表、客户跟进表、采购订单表、产品采购表，客户申请报价订单表（可在报价订单表标记，也可单独建表），客户申请产品报价表（可在产品报价表标记，也可单独建表）
账号权限（员工、客户可单独建表，也可分开建表，都可以登录，显示界面不一样）
员工具有所有的权限（手机号+密码，也可微信一键登录）
客户这边只有申请报价的权限（可以查看商品，只显示建议销售价，建议报价），客户登录需要审核（手机号+密码，也可微信一键登录）。
客户这边对报价有异议可申请员工修改报价后返回。提供站内信沟通。
登录时显示内部员工，还是客户登录。
员工档案（单独建表）
按正常走，标识权限。
客户档案（单独建表，可单独登录）
分ABC等级，加入公私客模块，客户所属给予判定，报价最多的员工判定所属。（分公盘私盘，公盘即没有员工所属，私盘即标明属于哪个员工，在每次报价的时候按照报价单最多的员工修改属于哪个员工的客户）带密码，客户可自行登录。
供应商模块（单独建表）
正常走
同行档案
正常操作
产品基础信息表
产品名称不可重复
规格不能为空
多单位，加入换算模块（小单位个，中单位包，大单位箱，1箱=12包=144个）
辅助属性管理（自定义辅助属性管理，辅助属性分2级）有固定模板直接上，没有的话就后期再增加。不然时间长了产品同名的太多了。比如断路器，同样名字有无数产品，价格都不一样。如果名称重复，选择产品就是问题，名称带属性，出来的名称客户不认可。
价格分采购价、成本价、最低销售价、建议销售价、零售价。
采购价需要手动录入，其余价格自动生成，生成后可手动修改。
成本价=采购价+采购价*m%(税费）+采购价*分摊运费（采购价*O%）+配送费（采购价*N%）
最低销售价=成本价*H（自定义比例）
零售价=成本价*I(自定义比例）
建议销售价=成本价*J（自定义比例）
报价表
关联客户（系统自动关联员工，不可修改。对报价整体订单进行统计 ，设定成交状态（已成交，未成交，部分成交）也可以联合查询该订单成交情况进行显示。统计该订单成交部分金额和订单整体金额。
产品报价表
关联报价表，对每个产品的报价进行统计，设定（已成交，未成交）
同行报价（单独建表）
关联商品，关联竞争对手，关联商品报价（报价时间即录入时间）每次竞争对手报价选择报价最低的三条（不同供应商的），不足三条显示全部。
客户跟进模块（单独建表,跟进关联客户报价订单ID）
1、跟进记录，每次报价自动录入跟进记录。
2、每次沟通，沟通方式（电话、微信、上门、到店）录入时间，录入沟通内容（手动录入）。
3、界面显示该客户报价列表（显示已成交、未成交、部分成交）和报价时间，可直达报价详情页面，可对每个订单单独写跟进记录。
4、客户跟进首页显示客户跟进警告（显示已经多少天未跟进，倒叙排列），分已报价未成交客户（该类客户要求每天跟进，否则给予红色警告），未报价客户（包括公盘客户即未标识客户属于哪个员工）要求3天跟进，否则给予红色警告。
5、后台统计员工员工超期未跟进条数，已报价未跟进多少条，未报价客户未跟进多少条）。员工A，2025年6月1日，跟进10条，未跟进30条。达成率10/40*10%。
斟酌是否单独建表，也可做统计查询，实时计算。
采购订单表
关联员工，关联商品，录入时间。
产品采购表
可关联采购订单表（实际采购），也可不关联（只询成本价，未采购）关联供应商。录入运费，可根据运费和数量计算单个产品的运费，更新至产品基本信息，同时更新成本价等价格。


界面：
首页
管理员
显示所有员工的跟进情况统计情况和详细跟进页面，提供筛选功能。
显示所有客户的报价情况和成交情况。
显示客户建议列表，并提供回复入口。
其他统计。
统计按天，可导出，也可不导出。
员工
完整功能，员工信息，客户信息，供应商，竞争对手，产品基础信息，采购列表，报价列表（报价关联员工不可修改），竞争对手报价列表，客户跟进，已成交列表，客户申请报价列表。
显示该员工的跟进，报价，成交情况。
客户
基础资料，关联客户已成交订单列表，关联客户报价列表（可修改已成交，由员工审核通过后修改订单信息），申请报价（正常购买流程）商品详情页（显示产品建议销售价，零售价，系统自动报价，可自行定价，申请公司员工审批，可录入多家供应商报价，数量默认1，可修改）申请提交后可导出，没有申请修改价格的按照系统给出报价直接导出，有申请价格的需提供其他供货商报价，系统判定后给出最新价导出，员工审核后按照最新报价导出。导出表格固定模板。提供投诉建议入口，由管理员直接回复。
申请报价后所有员工包含管理员均可收到订单信息。
采购列表
显示采购订单状况，可按时间，供货商等筛选查看。
采购详情页
新增后可选择产品，录入采购信息（可直达产品基础信息修改，增加）采购价填写完成后自动填写最低销售价，零售价，建议销售价，系统填写完成可手动修改保存。
报价单列表
显示该员工所有报价清单，可筛选，可跳转修改成交状态，也可以删除哈。
报价详情页
列出报价商品列表，可直接修改已成交，未成交，默认未成交。
报价产品选择页
新增报价商品时，显示产品基础信息，成本价，建议销售价，零售价，最近成交价（近三条），同行报价（按价格和时间排序，价格从低到高排列单个供应商只显示一条），客户预期价格，给出系统判定报价。
计算思路如下：
默认按系统建议销售价，
若最近成交价低于建议报价，同时高于最低销售价，按照成交价）若低于最低销售价，高于成本价，按成交价）若低于成本价，则等于建议销售价，并给出提示（报价成功率低，建议更换货源）。否则提示利润率。
如果报价高于同行最低报价，同时高于最低销售价，按照同行报价）若低于最低销售价，高于成本价，按同行报价），若低于成本价，则等于建议销售价，并给出提示（报价成功率低，建议更换货源）。否则提示利润率。
系统报价自动填写在最终报价上面，员工可修改。
整体思路就是按照建议销售价、最低销售价、成本价、同行报价，给出最优报价。提示利润率。保障成交，设定红线，不亏本。一定先公司内部判断，然后和同行比较。
界面可录入同行报价，录入后自动更新报价。
客户预期价格可录入客户申请报价列表，不关联订单。
客户申请报价列表
提供审核入口，审核后直接录入报价表。可对单个产品报价进行修改，修改时按照报价产品详情页，自动填入客户预期价格。修改完报价后可一键审核反馈客户报价。
客户建议
正常操作。
最终报价单导出按以下格式。
只录入序号，物品名称，规格，单位，单价。可增加数量，合计。其他固定模板即可。表头也可以填入客户名称，即某某采购物品询价单。









